h1::selection, h2::selection, h3::selection, p::selection, a::selection, br::selection, img::selection {
  background-color: #b8da8c7f;
}

button::selection {
  background-color: transparent;
}

#home {
  height: 100vh;
  background-color: #1692D1;
  @apply md:grid place-items-center font-archivo font-extralight;
}

#header {
  @apply pt-[2rem] md:pt-0 px-[1rem] md:px-[8rem] lg:px-[18rem] space-y-4 md:space-y-8;
}

#image {
  border-radius: 1rem;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.15);

}

#btn-section {
  @apply flex-wrap inline-flex md:space-x-3 gap-2 md:gap-0;
}

#btn {
  height: 2rem;
  width: fit-content;
  border-radius: 1rem;
  padding-left: 1rem; padding-right: 1rem;
  color: #fff;
  box-shadow: 0px .5px 3px 1px #fff;
}

.btn-effect {
  background: -webkit-linear-gradient(0deg, transparent 50%, #fff 50%);
  background-size: 200% 200%;
  transition: all .3s ease-in-out;
}

.btn-effect:hover {
  background-position: -100% 0;
}

.btn-effect:hover h3, .btn-effect:hover a {
  transition: .3s ease-in-out;
  color: #1692D1;
}

#modal {
  position: fixed;
  padding: 2rem;
  background-color: #fff;
  height: 90%; width: 65%;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 3px 1px rgba(0, 0, 0, 0.15);
}

#x {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  place-content: center;
  transition: all .15s ease-in-out;
}

#x:hover {
  box-shadow: inset -3px 5px 3px 1px rgba(0, 0, 0, 0.25);
  background-color: #1692D1;
  color: #fff;
}

@keyframes fadeOut {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, 50%);
  }
}

@keyframes fadeIn {
  from {
    transform: translate(-50%, 50%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}